# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# OS artifacts
.DS_Store
Thumbs.db
~$*.docx
~$*.xlsx

# Environments
.env
.venv
env/
venv/
ENV/

# Temporary files
*.tmp
*.log
scratch/
dicom_extracted/
